@import url('./main.css');

.flex-container{
    background-color: var(--acc-1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    overflow: hidden;
    padding-bottom: 100px;
}

.cases{
    margin-top: 60px;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    color: white;
    display: flex;
    justify-content: center;
}


.about-cases{
    text-align: left;
    overflow-wrap: break-word;
    filter: drop-shadow(3px 3px 3px black);
    margin: 50px;
}

.grid-targets-box{
    margin-top: 100px;
}

.grid-targets{
    height: auto;
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-areas: 
    "case1 case2"
    "case3 case4";
    gap: 10px;
    filter: drop-shadow(2px 2px 2px black);
}

.target-container{
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    color: white;
    text-decoration: none;
}

.target{
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
}

.target-name{
    position: absolute;
    top: 0;
    filter: drop-shadow(1px 1px 1px black);
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.target-case{
    background-color: black;
}

.target img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.target-container:hover .target img,
.target-container:focus .target img{
    transition: .5s;
    transform: scale(1.3);
}

.case-content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 5% 0px 5%;
    z-index: 1;
    padding: 100px 0px 50px 0px;
}

.case-summary{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 50px;
    justify-content: space-around;
}

.case-summary-text{
    width: 50%;
}

.case-section{
    background-color: var(--acc-2);
}

.case-section img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.case-card{
    width: 350px;
    height: 450px;
    background-color: rgb(231, 231, 231);
    filter: drop-shadow(2px 2px 2px black);
    display: flex;
    flex-direction: column;
}

.case-top{
    margin: 30px;
    height: 250px;
}

.case-top img{
    width: 100%;
    height: 100%;
}

.case-bottom{
    height: 100%;
    margin: 0px 30px 0px 30px;
    color: black;
}

@media screen and (max-width: 1024px) {
    .cases{
        flex-direction: column;
        align-items: center;
    }

    .grid-targets{
        margin: 0px;
    }

    .case-section img{
        height: 100%;
    }

    .case-summary{
        flex-direction: column;
    }

    .case-summary-text{
        width: 100%;
    }

    .case-card{
        width: 100%;
    }
}