@import url('./main.css');

.about-cases{
    text-align: left;
    overflow-wrap: break-word;
    filter: drop-shadow(3px 3px 3px black);
    margin: 50px;
}

.grid-targets-box{
    margin-top: 100px;
}

.grid-targets{
    height: auto;
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-areas: 
    "case1 case2"
    "case3 case4";
    gap: 10px;
    filter: drop-shadow(2px 2px 2px black);
}

.target-container{
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    color: white;
    text-decoration: none;
}

.target{
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
}

.target-name{
    position: absolute;
    top: 0;
    filter: drop-shadow(1px 1px 1px black);
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.target-case{
    background-color: black;
}

.target img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.target-container:hover .target img,
.target-container:focus .target img{
    transition: .5s;
    transform: scale(1.3);
}

.case-content-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 5% 0px 5%;
    z-index: 1;
    padding-top: 100px;
}

.case-content{
    padding: 100px 0px 100px 0px;
    display: flex;
    color: white;
    gap: 50px;
    justify-content: center;
    width: 100%;
}

.case-content-divider{
    padding-bottom: 100px;
    width: 100%;
    border-bottom: 2px solid rgb(136, 136, 136);
}

.case-summary-text{
    width: 50%;
}

.case-section-1{
    background-color: var(--acc-3);
}

.case-section-2{
    background-color: var(--acc-2);
}

.case-section-3{
    background-color: var(--acc-1);
}

.banner{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.case-card-lg{
    width: 350px;
    height: 500px;
    background-color: rgb(231, 231, 231);
    filter: drop-shadow(10px 10px 10px black);
    display: flex;
    flex-direction: column;
}

.case-card-sm{
    width: 250px;
    height: 250px;
    background-color: rgb(231, 231, 231);
    filter: drop-shadow(10px 10px 10px black);
    display: flex;
    flex-direction: column;
}

.case-top-pin{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pin-base{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgb(172, 5, 5);
    display: flex;
    border: 1px solid rgba(5, 5, 5, 0.377);
    box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.589);
    justify-content: center;
    filter: drop-shadow(4px 4px 4px black);
}

.pin-top{
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: rgb(190, 22, 22);
    border: 1px solid black;
    filter: drop-shadow(1px 7px 1px black);
}

.case-top{
    margin: 0px 30px 10px 30px;
    height: 250px;
}

.case-top-sm{
    margin: 0px 30px 0px 30px;
    height: 250px;
}

.case-top img,
.case-top-sm img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.case-bottom{
    height: 100%;
    margin: 0px 30px 0px 30px;
    color: black;
}

.case-bottom-sm{
    height: 20%;
    margin: 0px 30px 0px 30px;
    color: black;
    text-align: center;
    font-family: 'marker';
}

.overview-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.overview-content img{
    width: 100%;
    border-radius: 20px;
    border-bottom: 5px solid var(--sec-2);
}

@media screen and (max-width: 1024px) {
    .cases{
        flex-direction: column;
        align-items: center;
    }

    .grid-targets{
        margin: 0px;
    }

    .case-section-1 img{
        height: 100%;
    }

    .case-content{
        flex-direction: column;
        align-items: center;
    }

    .case-summary-text{
        width: 100%;
    }

    .case-card-lg{
        width: 100%;
        max-width: 350px;
        max-height: 500px;
    }

    .case-card-sm{
        width: 100%;
        max-width: 250px;
        max-height: 250px;
    }
}