body{
    background-color: var(--acc-1);
}

section{
    padding-top: 5em;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.header{
    height: 100%;
    padding: 0;
    margin: 0;
    grid-column: 1/span 2;
    text-align: center;
}

.characters-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 2%;
    gap: 2%;
    max-width: 1028px;
}

.character-grid{
    height: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--acc-2);
    gap: 4px;
}

.character{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    filter: brightness(1);
}

.character:hover{
    filter: brightness(1.1);
}

.character img{
    width: 100%;
    height: 100%;
}

.character-preview{
    background-color:var(--acc-3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.character-preview img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.character-info{
    margin: 1em;
    color: white;
}

@media screen and (max-width: 1024px) {
    .characters-box{
        flex-direction: column;
    }

    .character-grid{
        overflow-x: hidden;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(4, 1fr);
        padding: 20px;
    }

    .character-preview{
        padding-top: 20px;
    }

    .character-preview img{
        object-fit: contain;
    }
}