@import url(./main.css);

.flex-container{
    display: flex;
    flex-direction: column;
    background-image: url('../img/limo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100%;
    padding: 0px 0px 600px 0px;
}

.hero-content{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 160px 10%;
    color: rgb(255, 255, 255);
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.contrast-text{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px;
}

.team-img{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 512px;
    max-height: 512px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 0px 8px rgb(88, 45, 45));
    height: 100%;
    width: 50%;
}

.about-container{
    display: flex;
    flex-direction: column;
}

.section-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0 40px 0;
    color: white;
}

.section-content img{
    filter: drop-shadow(2px 1px 1px crimson); 
}

.section-text{
    width: 40%;
    word-wrap: break-word;
}

.section-card{
    width: 20%;
    height: 400px;
    margin: 30px 0px 0px 0px;
    border-radius: 16px;
    filter: drop-shadow(4px 4px 4px black);
}

.section-card a{
    color: white;
}

.section-card-inner{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: var(--acc-3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-position: center;
    overflow: hidden;
}

.section-card:hover .section-card-inner,
.section-card:focus .section-card-inner{
    transform: scale(1.1);
}

.section-card h2{
    font-size: 6vw;
    filter: drop-shadow(4px 4px 4px black);
}

.alt1{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--acc-1);
}

.alt2{
    display: flex;
    background-color: var(--acc-2);
}

.alt3{
    display: flex;
    background-color: var(--acc-1);
}

iframe{
    border: none;
    width: 500px;
    height: 400px;
}

td{
    padding: 10px 30px 0 0;
}

td a{
    color: var(--acc-3);
}

th{
    text-align: left;
}

.toggle-bg{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: 50%;
}

.toggle-singapore{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: aqua;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .hero-text{
        width: 100%;
    }

    .hero-text h1{
        text-align: center;
    }

    .hero-img{
        width: 100%;
        height: 100%;
        align-self: center;
    }

    .alt1{
        gap: 0;
    }

    .alt2{
        flex-direction: column;
        gap: 0px;
    }

    .alt3{
        flex-direction: column;
        gap: 0px;
    }

    .hero-content{
        margin: 20px 10%;
        flex-direction: column;
    }

    .section-text{
        width: 80%;
    }
    
    .section-img{
        width: 80%;
        height: 80%;
    }

    iframe{
        width: 80%;
    }
    
    .flex-container{
        background-image: url('../img/singapore.jpg');
    }
}

/*Large Screen*/
@media screen and (min-width: 1440px) {
    .flex-container{
        background-size: 100%;
        width: 100%;
        height: 100%;
    }
}